*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 50%;
    display: flex;
}

/* Product card starts here */

.product-image{
    background-image: url(images/image-product-desktop.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 70vh;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.product-write-up{
    width: 350px;
    height: 70vh;
    background: hsl(0, 0%, 100%);
    padding: 30px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.product-write-up .header{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: lighter;
    color: hsl(228, 12%, 48%);
}

.product-write-up h1{
    font-weight: bolder;
    color: hsl(212, 21%, 14%);
}

.product-write-up p{
    color: hsl(228, 12%, 48%);
    font-size: 14px;
}

.product-write-up .price{
    display: flex;
}

.product-write-up .price h1{
    color: hsl(158, 36%, 37%);
}

.product-write-up .price p{
    position: relative;
    top: 20px;
    left: 20px;
    text-decoration: line-through;
}

.product-write-up a{
    text-decoration: none;
}

.product-write-up img{
    padding-right: 10px;
}

.product-write-up button{
    padding: 12px 20px 12px 20px;
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-weight: bolder;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.product-write-up button:hover{
    background-color: hsl(212, 21%, 14%);
}

/* Responsiveness starts here */
@media (max-width:991px){
    main{
        width: 80%;
    }

    .product-image,.product-write-up{
        height: 50vh;
    }
}

@media only screen and (max-width: 480px){
    main{
        display: block;
        width: 90%;
    }

    .product-image{
        background-image: url(images/image-product-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 30vh;
        width: 100%;
    }

    .product-write-up{
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0px;
        height: 50vh;
        width: 100%;
        padding-bottom:20px;
    }
}
